---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCIE = [
  {
    date: "Actualmente...",
    title: "Freelancer",
    description:
      "Desarrollo sistemas web completos, desde el diseño de la base de datos hasta despliegue en servidores.",
  },
  {
    date: "Septiembre 2023",
    title: "Desarrollador full stack",
    company: "Net-Work soft",
    description:
      "Responsable del desarrollo completo de páginas web. Mis tareas incluían el diseño de la base de datos, el desarrollo del backend utilizando Laravel, y la adaptación de plantillas para el frontend. Además de trato directo con clientes gestión de sus requerimientos y despliegue en sus servidores.",
  },
]
---

<ol class="relative mt-16">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
